@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Vazirmatn';
        src: url(../public/fonts/Vazirmatn-Regular.ttf) format('ttf');
    }
    body {
        font-family: sans-serif;
        color: #3E434D;
    }
}